---
layout: home.liquid
pageTitle: "Ethical Design Guide"
pagination:
  data: collections.resources
  size: 25
---

<section class="block col-2">
  <h1>Ethical Design Guide</h1>
  <div>
      <p>
          Tech is always political. The way data is collected and handled 
          is often biased, and many products are neither accessible nor 
          inclusive. Ethical Design Guide is made to share resources on 
          how to create ethical products that don't 
          cause harm. More reading material, courses and tools will be added 
          continuously. Follow our <a href="">RSS feed</a> or subscribe to the 
          <a href="">mailing list</a> to receive updates. And if you have any time 
          or money to spare, consider contributing to <a href="">Black Lives Matter</a> 
          by signing petitions, sharing resources or making donations.            
      </p>
  </div>
</section>

{% include components/filters.liquid, active: "all" %}
{% include components/resources.liquid, pagination: pagination %}