<!doctype html>
<html lang="en">
    <head>
        {% seo %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="monetization" content="$ilp.uphold.com/ExLzDY3YKFpY">
        <link rel='icon' href='/favicon.ico' type='image/x-icon'/>
        <link href="https://fonts.googleapis.com/css2?family=Archivo&family=Archivo+Black&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/styles/fonts.css">
        <link rel="stylesheet" href="/styles/variables.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/about.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <link rel="stylesheet" href="/styles/background.css">

        <!-- {% capture css %}
            {% include ../styles/fonts.css %}
            {% include ../styles/variables.css %}
            {% include ../styles/main.css %}
        {% endcapture %}
        <style>
            {{css | safe}}
        </style> -->
    </head>

    <body id={{pageId}}>
        <div class="background" aria-hidden="true">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
            <div class="circle circle-4"></div>
            <div class="circle circle-5"></div>
            <div class="circle circle-6"></div>
            <div class="circle circle-7"></div>
            <div class="circle circle-8"></div>
            <div class="circle circle-9"></div>
            <div class="circle circle-10"></div>
        </div>

        {% include components/header.liquid %}
        
        <main>
            {{content}}
        </main>

        {% include components/footer.liquid %}
    </body>
</html>
