<!doctype html>
<html lang="en">
    <head>
        {% seo %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="monetization" content="$ilp.uphold.com/ExLzDY3YKFpY">
        <link rel='icon' href='/favicon.ico' type='image/x-icon'/>
        
        <!--
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&&family=Archivo+Black&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/styles/fonts.css">
        <link rel="stylesheet" href="/styles/variables.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/about.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/submit.css">
        <link rel="stylesheet" href="/styles/skip.css">
        -->

        {% capture css %}
            {% include ../styles/fonts.css %}
            {% include ../styles/variables.css %}
            {% include ../styles/main.css %}
        {% endcapture %}
        <style>
            {{css | safe}}
        </style>
    </head>

    <body id={{pageId}}>
        {{pageId | log}}
        {% if pageId == "home" %}
            {% include components/skip.liquid, title: "Skip to resources", link: "library" %}
        {% else %}
            {% include components/skip.liquid, title: "Skip to content", link: "main" %}
        {% endif %}
        {% include components/header.liquid %}
        <main id="main">
            {{content}}
        </main>
        {% include components/footer.liquid %}
    </body>
</html>
