<!doctype html>
<html lang="en">
    <head>
        {% seo %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="monetization" content="$ilp.uphold.com/ExLzDY3YKFpY">
        <link rel='icon' href='/styles/img/favicon.ico' type='image/x-icon'/>

        <link rel="preload" href="/styles/fonts/syne/Syne-Extra.woff" as="font" type="font/woff" crossorigin="crossorigin">
        <link rel="preload" href="/styles/fonts/syne/Syne-Bold.woff" as="font" type="font/woff" crossorigin="crossorigin">
        <link rel="preload" href="/styles/fonts/syne/Syne-Regular.woff" as="font" type="font/woff" crossorigin="crossorigin">

        <link rel="preload" href="/styles/fonts/archivo/archivo-v7-latin-regular.woff2" as="font" type="font/woff2" crossorigin="crossorigin">
        <link rel="preload" href="/styles/fonts/archivo/archivo-v7-latin-700.woff2" as="font" type="font/woff2" crossorigin="crossorigin">

        {% capture css %}
            {% include ../styles/fonts.css %}
            {% include ../styles/variables.css %}
            {% include ../styles/main.css %}
            {% include ../styles/footer.css %}
            {% include ../styles/about.css %}
            {% include ../styles/home.css %}
            {% include ../styles/header.css %}
            {% include ../styles/skip.css %}
        {% endcapture %}
        <style>
            {{ css | minify | safe }}
        </style>
    </head>

    <body id={{pageId}}>
        {% if pageId == "home" %}
            {% include components/skip.liquid, title: "Skip to resources", link: "library" %}
        {% else %}
            {% include components/skip.liquid, title: "Skip to content", link: "main" %}
        {% endif %}
        {% include components/header.liquid %}
        <main id="main">
            {{content}}
        </main>
        {% include components/footer.liquid %}
    </body>
</html>
