---
layout: base.liquid
pageId: "home"
---

<section class="intro">
    <h1>Ethical Design Guide</h1>
    <div>
        <p>
            Tech is political and often excludes, discriminates against, or harms 
            people from minoritized groups. We all share the responsibility to create 
            products that are ethical, inclusive, and accessible for all. 
            Ethical Design Guide is a directory 
            of books, articles, tools and courses aimed to educate those in tech on 
            the impact that our products have on society, along with resources on how 
            to minimize harm and do better. More resources will be added continuously, 
            and regular updates will be send out to the mailing list as well.
        </p>
    </div>
</section>

{{content}}