---
layout: base.liquid
pageId: "home"
---
<section class="block col-1">
    <h1>Ethical Design Guide</h1>
    <div>
        <p>
            Tech is always political. The way data is collected and handled 
            is often biased, and many products are neither accessible nor 
            inclusive. Ethical Design Guide is made to share resources on 
            how to create ethical products that don't 
            cause harm. More links will be added continuously, and shared 
            through a monthly <a href="">mailing list</a>. 
              
        </p>
    </div>
</section>

<section id="resources" class="block col-1">
    {% include components/filters.liquid, active: "all" %}
    {% include components/resources.liquid, pagination: pagination %}
</section>