---
layout: base.liquid
---

<div class="page block col-1">
    <div>
        {{content}}
    </div>
</div>

{% capture css %}
    {% include ../styles/about.css %}
{% endcapture %}
<style>
    {{css | safe}}
</style>