<footer>
    <!-- <div class="info">
        <section class="logo">
            <h2>Ethical Design Guide</h2>
        </section>
        <section class="links">
            <ul>
                <li><a href="/">Resources</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Resources</a></li>
            </ul>
        </section>
    </div> -->

    <div id="revue-embed">
      <h2>Sign up for the newsletter</h2>
      <p>
        Text needs more work More links will be added continuously, and updates can be received by subscribing to the RSS feed or bi-weekly newsletter.
      </p>
      <form action="https://www.getrevue.co/profile/sarahfossheim/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
        <div class="revue-form-group">
          <label for="member_email">Email address</label>
          <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
        </div>
        <div class="revue-form-actions">
          <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
        </div>
      </form>
    </div>

    <section class="credits">
        <p>
            Made by <a href="https://fossheim.io">Sarah L. Fossheim</a> 
            (they/them), 
            using <a href="https://www.11ty.dev/">11ty</a> and deployed on 
            <a href="https://www.netlify.com/">Netlify</a>.
        </p>
    </section>
</footer>