<footer>
    <div class="info">
        <section class="links">
            <h2>Useful links</h2>
            <p>Todo</p>
        </section>
        <section class="logo">
            <h2>Ethical Design Guide</h2>
        </section>
    </div>
    <section class="credits">
        <p>
            Made by <a href="https://fossheim.io">Sarah L. Fossheim</a> 
            (<a href="https://twitter.com/liatrisbian">@liatrisbian</a>), 
            using <a href="https://www.11ty.dev/">11ty</a> and deployed on 
            <a href="https://www.netlify.com/">Netlify</a>.
        </p>
    </section>
</footer>