<footer>
    <!-- <div class="info">
        <section class="logo">
            <h2>Ethical Design Guide</h2>
        </section>
        <section class="links">
            <ul>
                <li><a href="/">Resources</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Resources</a></li>
            </ul>
        </section>
    </div> -->
    <section class="credits">
        <p>
            Made by <a href="https://fossheim.io">Sarah L. Fossheim</a> 
            (they/them), 
            using <a href="https://www.11ty.dev/">11ty</a> and deployed on 
            <a href="https://www.netlify.com/">Netlify</a>.
        </p>
    </section>
</footer>