<footer>
    <div id="revue-embed">
      <h2>Sign up for the newsletter</h2>
      <p>
        Text needs more work More links will be added continuously, and updates can be received by subscribing to the RSS feed or bi-weekly newsletter.
      </p>
      <form action="https://www.getrevue.co/profile/sarahfossheim/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
        <div class="revue-form-group">
          <label for="member_email">Email address</label>
          <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
        </div>
        <div class="revue-form-actions">
          <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
        </div>
      </form>
    </div>

    <section class="info">
        <p>
            <a href="https://twitter.com/ethical_guide" class="twitter bmc-button">Connect on Twitter</a>
        </p>
        <p>
          <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/fossheim"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee">Buy me a coffee</a>
        </p>
    </section>

    <section class="credits">
        <p>
            Made by <a href="https://fossheim.io">Sarah L. Fossheim</a> 
            (they/them), 
            using <a href="https://www.11ty.dev/">11ty</a> and deployed on 
            <a href="https://www.netlify.com/">Netlify</a>.
        </p>
    </section>
</footer>