<header id="main-header">
    <nav>
        <ul class="internal">
            <li class="blm"><a href="https://blacklivesmatters.carrd.co/">#BlackLivesMatter</a></li>
            <li class="resources"><a href="/">Resources</a></li>
            <li class="about"><a href="/about">About</a></li>
            <li class="submit"><a href="/submit">Submit</a></li>
        </ul>
    </nav>
</header>
