<header>
    <nav>
        <ul>
            <li class="resources"><a href="/">Resources</a></li>
            <li class="about"><a href="/about">About</a></li>
            <li class="about"><a href="/submit">Submit</a></li>
            <li class="about"><a href="/documentation">Documentation</a></li>
            <li class="about"><a href="/support">Support</a></li>
            <li class="about"><a href="https://blacklivesmatters.carrd.co/">#BlackLivesMatter</a></li>
        </ul>
    </nav>
</header>
