.large-block {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: left;
    margin-bottom: 2rem;
}

#about ul li, #submit ul li {
    list-style-position: inside;
    margin-bottom: 0.5rem;
}