@font-face {
  font-family: SyneExtra;
  font-display: swap;
  src: url(/styles/fonts/syne/Syne-Extra.woff) format('woff'),
    url(/styles/fonts/syne/Syne-Extra.woff2) format("woff2"),
    url(/styles/fonts/syne/Syne-Extra.eot) format("eot");
}

@font-face {
  font-family: SyneBold;
  font-display: swap;
  src: url(/styles/fonts/syne/Syne-Bold.woff) format('woff'),
    url(/styles/fonts/syne/Syne-Bold.woff2) format("woff2"),
    url(/styles/fonts/syne/Syne-Bold.eot) format("eot");
}

@font-face {
  font-family: SyneBold;
  font-display: swap;
  src: url(/styles/fonts/syne/Syne-Bold.woff) format("woff"),
    url(/styles/fonts/syne/Syne-Bold.woff2) format("woff2"),
    url(/styles/fonts/syne/Syne-Bold.eot) format("eot");
}

@font-face {
  font-family: SyneRegular;
  font-display: swap;
  src: url(/styles/fonts/syne/Syne-Regular.woff) format("woff"),
    url(/styles/fonts/syne/Syne-Regular.woff2) format("woff2"),
    url(/styles/fonts/syne/Syne-Regular.eot) format("eot");
}

/* archivo-regular - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/styles/fonts/archivo/archivo-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Archivo Regular'), local('Archivo-Regular'),
       url('/styles/fonts/archivo/archivo-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/styles/fonts/archivo/archivo-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/styles/fonts/archivo/archivo-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/styles/fonts/archivo/archivo-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/styles/fonts/archivo/archivo-v7-latin-regular.svg#Archivo') format('svg'); /* Legacy iOS */
}
/* archivo-700 - latin */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/styles/fonts/archivo/archivo-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Archivo Bold'), local('Archivo-Bold'),
       url('/styles/fonts/archivo/archivo-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/styles/fonts/archivo/archivo-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/styles/fonts/archivo/archivo-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/styles/fonts/archivo/archivo-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/styles/fonts/archivo/archivo-v7-latin-700.svg#Archivo') format('svg'); /* Legacy iOS */
}