@font-face {
  font-family: SyneExtra;
  src: url(/styles/fonts/syne/Syne-Extra.woff) format('woff'),
    url(/styles/fonts/syne/Syne-Extra.woff2) format("woff2"),
    url(/styles/fonts/syne/Syne-Extra.eot) format("eot");
}

@font-face {
  font-family: SyneBold;
  src: url(/styles/fonts/syne/Syne-Bold.woff) format('woff'),
    url(/styles/fonts/syne/Syne-Bold.woff2) format("woff2"),
    url(/styles/fonts/syne/Syne-Bold.eot) format("eot");
}

@font-face {
  font-family: SyneBold;
  src: url(/styles/fonts/syne/Syne-Bold.woff) format("woff"),
    url(/styles/fonts/syne/Syne-Bold.woff2) format("woff2"),
    url(/styles/fonts/syne/Syne-Bold.eot) format("eot");
}

@font-face {
  font-family: SyneRegular;
  src: url(/styles/fonts/syne/Syne-Regular.woff.woff) format("woff"),
    url(/styles/fonts/syne/Syne-Regular.woff2) format("woff2"),
    url(/styles/fonts/syne/Syne-Regular.eot) format("eot");
}