footer {
    color: var(--text-normal);
    position: relative;
}

footer .credits {
    text-align: center;
    height: 3rem;
    padding-top: 1rem;
    background-color: var(--background);
    display: block;
    width: 100vw;
    margin-top: 5rem;
}

footer .credits a {
    color: var(--text-normal);
}

footer #revue-embed {
    width: 40rem;
    max-width: 85vw;
    margin: 0 auto 3rem auto;
    padding: 3rem;

    background-image: linear-gradient(white, white),
    repeating-linear-gradient(
      45deg,
      var(--background),
      var(--background) 7px,
      var(--text-normal) 7px,
      var(--text-normal) 12px 
    );
    background-size: 100% 100%, 100% 100%;
    background-size: calc(100% - 1rem) calc(100% - 1rem), 100% 100%;
    background-position: 0.5rem 0.5rem, 0 0;
    background-repeat: no-repeat;
}

footer #revue-embed h2 {
    font-family: "SyneBold", "Syne", sans-serif;
    margin-bottom: 0.25rem;
}

footer #revue-embed p {
    margin-bottom: 0.75rem;
}

footer #revue-embed form label {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    display: block;
}

footer #revue-embed form input:not([type="submit"]) {
    font-size: 0.75rem;
    padding: 0.5rem;
    margin-bottom: 1.25rem;
    max-width: 100%;
    width: 20rem;
    border: 1px solid var(--text-normal);
    color: var(--text-normal);
    border-radius: 2px;
    font-family: "Archivo", "HelveticaNeue", Helvetica, sans-serif;
}

footer #revue-embed form input:not([type="submit"]):focus {
    outline-color: var(--selection-bg);
}

footer #revue-embed form input[type="submit"] {
    display: block;
    padding: 0.5rem 1rem;
    font-family: "SyneBold", "Archivo", "HelveticaNeue", Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--text-normal);
    background-color: var(--background);
    border: 2px solid var(--text-normal);
    border-radius: 3px;
    transition: 0.3s background, 0.3s color;
}

footer #revue-embed form input[type="submit"]:hover {
    background-color: var(--text-normal);
    color: var(--background);
}

footer .info {
    width: 60rem;
    max-width: 85vw;
    border-top: 2px solid var(--text-normal);
    padding-top: 3rem;
    margin: 0 auto;
}

@media screen and (max-width: 850px) {
    footer .info {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    footer .info .links {
        grid-column: 1;
        grid-row: 2;
    }
    footer .info .logo {
        grid-column: 1;
        grid-row: 1;
    }

    footer .info .logo h2 {
        font-size: 1rem;
        text-align: center;
    }
}