footer {
    color: var(--text-normal);
    position: relative;
}

footer .info {
    display: grid;
    grid-template-columns: 1fr 0.35fr;
    width: 60rem;
    max-width: 85vw;
    margin: 0 auto;
    padding: 4rem 0;
}

footer .info .links {
    text-align: left;
    grid-column: 1;
    grid-row: 1;
}

footer .info .logo {
    text-align: right;
    grid-column: 2;
    grid-row: 1;
}

footer .info .logo h2 {
    font-family: "Casta-ExtraBoldExpanded", serif;
    font-family: "SyneExtra";
    font-weight: normal;
    font-size: 1.75rem;
}

footer .credits {
    text-align: center;
    height: 3rem;
    padding-top: 1rem;
    background-color: var(--background);
}

footer .credits a {
    color: var(--text-normal);
}

@media screen and (max-width: 850px) {
    footer .info {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    footer .info .links {
        grid-column: 1;
        grid-row: 2;
    }
    footer .info .logo {
        grid-column: 1;
        grid-row: 1;
    }

    footer .info .logo h2 {
        font-size: 1rem;
        text-align: center;
    }
}