main .intro {
    width: 100%;
    display: grid;
    grid-template-columns: 8rem 1fr;
    column-gap: 6.5rem;
}

main .intro h1 {
    font-style: 1.75rem;
    font-family: "Casta";
    font-weight: normal;
}

main .intro p {
    line-height: 1.5rem;
}

main .intro p a {
    color: var(--text-normal);
    text-decoration-style: dotted;
    transition: 0.25s background;
}

main .intro p a:hover {
    background-color: var(--accent-1);
}

main .filter-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 8rem 1fr;
    column-gap: 6.5rem;
}

main .filter-wrapper .filters {
    grid-column: 2;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
    margin-top: 3rem;
}

main .filter-wrapper .filters li a {
    color: var(--text-normal);
    text-decoration: none;
}

main .filter-wrapper .filters li {
    position: relative;
}

main .filter-wrapper .filters li a:hover {
    border-radius: 50%;
    border: 1px solid var(--text-normal);
    padding: 0.25rem 0.5rem;
    position: absolute;
    left: -0.5rem;
    left: calc(-0.5rem - 1px);
    top: -0.25rem;
    top: calc(-0.25rem - 1px);
}

main .resources {
    margin-top: 2rem;
}

main .resources .resource {
    border-top: 2px solid var(--text-normal);
    list-style-type: none;
    padding: 1.5rem 0;
}

main .resources .resource:last-child {
    border-bottom: 2px solid var(--text-normal);
}

main .resources .resource ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

@media screen and (max-width: 900px) {
    main .intro, main .filter-wrapper {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    main .filter-wrapper .filters {
        grid-column: 1;
    }
}

@media screen and (max-width: 600px) {
    main .filter-wrapper .filters {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
        text-align: left;
    }
}