main .intro {
    width: 100%;
    display: grid;
    grid-template-columns: 8rem 1fr;
    column-gap: 6.5rem;
}

main .intro h1 {
    font-style: 1.75rem;
    font-family: "Casta";
    font-weight: normal;
}

main .intro p {
    line-height: 1.5rem;
}

main .intro p a {
    color: var(--text-normal);
    text-decoration-style: dotted;
    transition: 0.25s background;
}

main .intro p a:hover {
    background-color: var(--accent-1);
}

main .filter-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 8rem 1fr;
    column-gap: 6.5rem;
}

main .filter-wrapper .filters {
    grid-column: 2;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
    margin-top: 3rem;
}

main .filter-wrapper .filters li a {
    color: var(--text-normal);
}

@media screen and (max-width: 900px) {
    main .intro, main .filter-wrapper {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    main .filter-wrapper .filters {
        grid-column: 1;
    }
}

@media screen and (max-width: 600px) {
    main .filter-wrapper .filters {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
        text-align: left;
    }
}