* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: "Archivo", sans-serif;
    color: var(--text-normal);
    background-color: var(--background);
    background-image: linear-gradient(var(--background) 15%, var(--contrast), var(--background) 85%),
    linear-gradient(var(--background) 15%, var(--contrast), var(--background) 85%),
        linear-gradient(var(--background) 15%, var(--contrast) 85%);
    background-size: 2.5rem 100vh, 2.5rem 100vh, 100% 100%;
    background-attachment: fixed, fixed, scroll;
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: 0 0, top right, 0 0;
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-text);
}

main {
    width: 60rem;
    max-width: 85vw;
    margin: 7rem auto 5rem auto;
    position: relative;
    min-height: 100vh;
    min-height: calc(100vh - 20rem);
}

@media screen and (max-width: 750px) {
    body {
        background-image: linear-gradient(var(--background) 15%, var(--contrast) 85%);
        background-size: 100% 100%;
        background-attachment: scroll;
    }

    main {
        margin-top: 10rem;
    }
}

@media (prefers-reduced-motion) {
    * {
        animation: none;
    }
}