* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: "Archivo", sans-serif;
    color: var(--text-normal);
    background-color: var(--contrast);
    background-image: linear-gradient(var(--background) 15%, var(--background), var(--background) 85%),
        linear-gradient(var(--background) 15%, var(--background), var(--background) 85%),
        linear-gradient(var(--contrast) 25%, var(--contrast), var(--contrast) 85%);
    background-size: 2.5rem 100vh, 2.5rem 100vh, 100% 100%;
    background-attachment: fixed, fixed, scroll;
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: 0 0, top right, 0 0;
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-text);
}

main {
    width: 60rem;
    max-width: 85vw;
    min-height: 100vh;
    margin: 7rem auto 5rem auto;
    position: relative;
    min-height: 100vh;
    min-height: calc(100vh - 20rem);
}

main .block h1 {
    font-size: 1.75rem;
    font-family: "SyneExtra";
    font-weight: normal;
    margin-bottom: 1.25rem;
}

main .block h2 {
    margin: 2rem 0 0.5rem 0;
    font-family: "SyneBold";
    width: 75%;
    border-left: 0.5rem solid var(--background);
    padding-left: 0.5rem;
}

main .block p {
    line-height: 1.6rem;
}

main .block p a {
    color: var(--text-normal);
    text-decoration-style: dotted;
    transition: 0.25s background;
}

main .block p a:hover {
    background-color: var(--background);
}

main a:not(:hover):focus {
    background-color: var(--background);
    outline-color: var(--text-normal);
}

main .block ul {
    line-height: 1.6rem;
    padding: 0 1rem;
}

main .block ul li {
    margin-bottom: 0.5rem;
}

body:not(#home) main .block ul, body:not(#home) main .block p {
    margin-bottom: 1.5rem;
}

body:not(#home) main .block h1 {
    margin-bottom: 2.5rem;
}

main pre {
    padding: 2rem;
    background-color: var(--background-light);
    overflow-x: scroll;
    margin-bottom: 2rem;
}

main code {
    background-color: var(--background-light);
}

main pre code {
    background-color: transparent;
    white-space: pre-wrap;
}

.col-1 {
    width: 40rem;
    max-width: 100%;
    margin: 0 auto;
}

.col-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 8rem 1fr;
    column-gap: 10rem;
}

.empty-col-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 8rem 1fr;
    column-gap: 10rem;
}

.empty-col-2 h1, .empty-col-2 div {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-right: 5rem;
}

.capitalize {
    text-transform: capitalize;
}


.bmc-button img{ 
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    bottom: -1px;
    vertical-align: middle;
    margin-right: 0.25rem;
}

.bmc-button {
    padding: 7px 15px 7px 10px;
    line-height: 1.75rem;
    height: 2.5rem;
    display:inline-flex ;
    background-color: var(--contrast);
    margin: 0 auto;
    color: var(--text-normal);
    border-radius: 3px;
    text-decoration: none;
    font-family: "SyneBold", "Archivo", sans-serif;
    transition: background 0.35s, border 0.35s, color 0.35s;
    font-size: 0.85rem;
}

.bmc-button:hover, .bmc-button:focus {
    background-color: var(--text-normal);
    color: var(--contrast);
}


@media screen and (max-width: 750px) {
    body {
        background-image: linear-gradient(var(--contrast) 15%, var(--contrast) 85%);
        background-size: 100% 100%;
        background-attachment: scroll;
    }

    main {
        margin-top: 10rem;
    }


    main .block h2 {
        margin: 2rem 0 0.75rem 0;
        width: 100%;
    }
}

@media (prefers-reduced-motion) {
    * {
        animation: none;
    }
}