:root {
    --background: #D1DA8D;
    --seethrough: rgba(85, 68, 74, 0.075);
    --text-normal: #474353;
    --accent-1: #dbee2e;
    --contrast: #FFF;

    --selection-bg: #7964FF;
    --selection-text: #FFF;
}

/* #about {
    --background: #ADD0CA;
    --selection-bg: #fe6b58;
    --selection-text: #000;
}

#submit {
    --background: #D1DA8D;
} */