:root {
    --background: #FFF;
    --text-highlighted: #0F1CB3;
    --text-normal: #313638;
    --text-normal-light: #6B7174;
    --accent-1: #C8D214;
}

/* :root {
    --background: #fa5b50;
    --text-highlighted: #000;
    --text-normal: #313638;
    --text-normal-light: #6B7174;
    --accent-1: #C8D214;
} */