:root {
    --background: #fef7f9;
    --text-highlighted: #121042;
    --text-normal: #121042;
    --text-normal-light: #121042;
    --accent-1: #dbee2e;
    --accent-transparent: rgba(219, 238, 46, 0.25);

    --circle-1: #f092ca;
    --circle-2: #efc5c0;
    --circle-3: #9b7ded;
}

/* :root {
    --background: #B4E33D;
    --text-highlighted: #000;
    --text-normal: #242423;
    --text-normal-light: #000;
    --accent-1: #dbee2e;
    --accent-transparent: rgba(219, 238, 46, 0.25);
} */
